*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body   {
    text-align: center;
    font-family: sans-serif;
    margin: 0;
}

.header {

    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 80vh !important;
    background: url(img/estudiojuridico.jpg) no-repeat center;
    background-size: cover;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 100;
    background: #0528ebf3;
}



.navbar {
    display: flex;
    margin-right: 20px;
    color: rgb(28, 16, 202);

}

.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 17px 10px;
    color:rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: rgb(71, 68, 231);
}

.title {
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #d6d4d4;
    padding: 0 50px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    text-decoration: none;
    
}

.btn-home {
    display: flex;

}

.btn-home a {
    margin: 0 10px;
}

.btn:hover {
    background: none;
}

.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 40px;
    gap: 70px;
    margin-top: 300px;
    margin-bottom: 0px;
}

.box-container .box {
    height: 11rem;
    width: 17rem;
    background: #000000;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem #050505;
    margin: 2rem;
}

.box-container .box i {
    height: 3px;
    width: 5%;
    line-height: 3rem;
    text-align: left;
    border-radius: 100%;
    color: #e40808;
    font-size: 2px;
    margin: 1rem 0;
}

.box-container .box h2{
    font-size: 20px;
    color: #ffffff;
    
}

.box-container .box h3{
    font-size: 0px;
    color: #f8f5f5;

}

.box-container .box p {
    padding: 0;
    margin-bottom: 0%;
}

.about {
    background: #000000ad;
}

.content-contact {
    background: url();
    padding-top: 20px;
    background: #1114e4;
    padding-top: 0;
}



.input-group {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form { 
    background-color: #ffffff;
    border-radius: 20px;
    text-align: center;
    margin-bottom: -700px;   
    
}

.input-group {
    display: flex;
    flex-direction: column;
    flex-direction: center;
    text-align: center;
    margin: 35%;
    box-shadow: 0 0 10px #000000;
    padding: 20px;
    margin-top: 5%;
    border-radius: 1rem;
    
    
}

h2 {
    color:#200ae9;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

h4 {
    color: #0606b8;
}
label {
    color: #2906f3;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
    border-radius: 1rem;

}



input, textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 2px solid #dddd19;
    color: #0c09e7;
    outline: none;
    border-radius: 1rem;
}

input::placeholder, textarea::placeholder {
    color: #1359b4;


}

.btn:hover {
    background-color: #0b07f1;
}



.fa-facebook:hover {
    background-color: #0606b8;
    color: #d6d4d4;
    
}



.fa-linkedin {
    margin-top: 40%;
    color: #0b07f1;
}

.fa-square-instagram {
    margin-top: 40%;
    color: #f1119b;
}

.fa-square-whatsapp {
    margin-top: 40%;
    color: #0dd83f;
}

.footer {
    background-color: #0528eb;
    padding: 30px 10;
    align-items: center;
    list-style: none;
    margin-top: 60%;
    
}


.footer-links ul {
    list-style: none;
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;

}

@media(max-width:991px) {
    .footer-row {
        text-align: center;
        
    }

    .footer-links {
        width: 100%;
        margin-bottom: 10px;
    }
}

.about{
    text-align: center;
    font-size: 1rem;
    margin-bottom: 2px;
}

.about_paragraph{
    line-height: 1.7;
}

.about_main{
    padding-top: 50px;
    display: grid;
    width: 80%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about_icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    margin: 0 auto;
}

.about_icons{
    width: 300px;

}